MonitoreoServicios/MonitorWeb/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Conectar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConectarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CallbackMostrarEstados">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IniciarServicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreProceso" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IniciarServicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IniciarServicioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetenerServicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreProceso" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetenerServicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DetenerServicioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PausarServicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreProceso" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PausarServicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PausarServicioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReanudarServicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreProceso" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReanudarServicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReanudarServicioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReiniciarServicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreProceso" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReiniciarServicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReiniciarServicioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="killService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreProceso" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="killServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="killServiceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>