MonitoreoServicios/MonitorWeb/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSDualHttpBinding_IService1_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <sp:SymmetricBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:ProtectionToken>
              <wsp:Policy>
                <sp:SecureConversationToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                  <wsp:Policy>
                    <sp:RequireDerivedKeys />
                    <sp:BootstrapPolicy>
                      <wsp:Policy>
                        <sp:SignedParts>
                          <sp:Body />
                          <sp:Header Name="ChannelInstance" Namespace="http://schemas.microsoft.com/ws/2005/02/duplex" />
                          <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
                          <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
                          <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
                          <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
                          <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
                          <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
                          <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
                        </sp:SignedParts>
                        <sp:EncryptedParts>
                          <sp:Body />
                        </sp:EncryptedParts>
                        <sp:SymmetricBinding>
                          <wsp:Policy>
                            <sp:ProtectionToken>
                              <wsp:Policy>
                                <sp:SpnegoContextToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                                  <wsp:Policy>
                                    <sp:RequireDerivedKeys />
                                  </wsp:Policy>
                                </sp:SpnegoContextToken>
                              </wsp:Policy>
                            </sp:ProtectionToken>
                            <sp:AlgorithmSuite>
                              <wsp:Policy>
                                <sp:Basic256 />
                              </wsp:Policy>
                            </sp:AlgorithmSuite>
                            <sp:Layout>
                              <wsp:Policy>
                                <sp:Strict />
                              </wsp:Policy>
                            </sp:Layout>
                            <sp:IncludeTimestamp />
                            <sp:EncryptSignature />
                            <sp:OnlySignEntireHeadersAndBody />
                          </wsp:Policy>
                        </sp:SymmetricBinding>
                        <sp:Wss11>
                          <wsp:Policy />
                        </sp:Wss11>
                        <sp:Trust10>
                          <wsp:Policy>
                            <sp:MustSupportIssuedTokens />
                            <sp:RequireClientEntropy />
                            <sp:RequireServerEntropy />
                          </wsp:Policy>
                        </sp:Trust10>
                      </wsp:Policy>
                    </sp:BootstrapPolicy>
                  </wsp:Policy>
                </sp:SecureConversationToken>
              </wsp:Policy>
            </sp:ProtectionToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
            <sp:EncryptSignature />
            <sp:OnlySignEntireHeadersAndBody />
          </wsp:Policy>
        </sp:SymmetricBinding>
        <sp:Wss11 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss11>
        <sp:Trust10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust10>
        <cdp:CompositeDuplex xmlns:cdp="http://schemas.microsoft.com/net/2006/06/duplex" />
        <ow:OneWay xmlns:ow="http://schemas.microsoft.com/ws/2005/05/routing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="WSDualHttpBinding_IService1_Conectar_Input_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:SignedParts xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <sp:Body />
          <sp:Header Name="Sequence" Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm" />
          <sp:Header Name="SequenceAcknowledgement" Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm" />
          <sp:Header Name="AckRequested" Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm" />
          <sp:Header Name="ChannelInstance" Namespace="http://schemas.microsoft.com/ws/2005/02/duplex" />
          <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
        </sp:SignedParts>
        <sp:EncryptedParts xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <sp:Body />
        </sp:EncryptedParts>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="WSDualHttpBinding_IService1_Conectar_output_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:SignedParts xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <sp:Body />
          <sp:Header Name="Sequence" Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm" />
          <sp:Header Name="SequenceAcknowledgement" Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm" />
          <sp:Header Name="AckRequested" Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm" />
          <sp:Header Name="ChannelInstance" Namespace="http://schemas.microsoft.com/ws/2005/02/duplex" />
          <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
        </sp:SignedParts>
        <sp:EncryptedParts xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <sp:Body />
        </sp:EncryptedParts>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="WSDualHttpBinding_IService1_CallbackMostrarEstados_output_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:SignedParts xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <sp:Body />
          <sp:Header Name="Sequence" Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm" />
          <sp:Header Name="SequenceAcknowledgement" Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm" />
          <sp:Header Name="AckRequested" Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm" />
          <sp:Header Name="ChannelInstance" Namespace="http://schemas.microsoft.com/ws/2005/02/duplex" />
          <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
        </sp:SignedParts>
        <sp:EncryptedParts xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <sp:Body />
        </sp:EncryptedParts>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59007/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59007/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_Conectar_InputMessage">
    <wsdl:part name="parameters" element="tns:Conectar" />
  </wsdl:message>
  <wsdl:message name="IService1_Conectar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConectarResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CallbackMostrarEstados_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:CallbackMostrarEstados" />
  </wsdl:message>
  <wsdl:message name="IAcciones_IniciarServicio_InputMessage">
    <wsdl:part name="parameters" element="tns:IniciarServicio" />
  </wsdl:message>
  <wsdl:message name="IAcciones_IniciarServicio_OutputMessage">
    <wsdl:part name="parameters" element="tns:IniciarServicioResponse" />
  </wsdl:message>
  <wsdl:message name="IAcciones_DetenerServicio_InputMessage">
    <wsdl:part name="parameters" element="tns:DetenerServicio" />
  </wsdl:message>
  <wsdl:message name="IAcciones_DetenerServicio_OutputMessage">
    <wsdl:part name="parameters" element="tns:DetenerServicioResponse" />
  </wsdl:message>
  <wsdl:message name="IAcciones_PausarServicio_InputMessage">
    <wsdl:part name="parameters" element="tns:PausarServicio" />
  </wsdl:message>
  <wsdl:message name="IAcciones_PausarServicio_OutputMessage">
    <wsdl:part name="parameters" element="tns:PausarServicioResponse" />
  </wsdl:message>
  <wsdl:message name="IAcciones_ReanudarServicio_InputMessage">
    <wsdl:part name="parameters" element="tns:ReanudarServicio" />
  </wsdl:message>
  <wsdl:message name="IAcciones_ReanudarServicio_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReanudarServicioResponse" />
  </wsdl:message>
  <wsdl:message name="IAcciones_ReiniciarServicio_InputMessage">
    <wsdl:part name="parameters" element="tns:ReiniciarServicio" />
  </wsdl:message>
  <wsdl:message name="IAcciones_ReiniciarServicio_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReiniciarServicioResponse" />
  </wsdl:message>
  <wsdl:message name="IAcciones_killService_InputMessage">
    <wsdl:part name="parameters" element="tns:killService" />
  </wsdl:message>
  <wsdl:message name="IAcciones_killService_OutputMessage">
    <wsdl:part name="parameters" element="tns:killServiceResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="Conectar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Conectar" message="tns:IService1_Conectar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ConectarResponse" message="tns:IService1_Conectar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CallbackMostrarEstados">
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CallbackMostrarEstados" message="tns:IService1_CallbackMostrarEstados_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IAcciones">
    <wsdl:operation name="IniciarServicio">
      <wsdl:input wsaw:Action="http://tempuri.org/IAcciones/IniciarServicio" message="tns:IAcciones_IniciarServicio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAcciones/IniciarServicioResponse" message="tns:IAcciones_IniciarServicio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DetenerServicio">
      <wsdl:input wsaw:Action="http://tempuri.org/IAcciones/DetenerServicio" message="tns:IAcciones_DetenerServicio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAcciones/DetenerServicioResponse" message="tns:IAcciones_DetenerServicio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PausarServicio">
      <wsdl:input wsaw:Action="http://tempuri.org/IAcciones/PausarServicio" message="tns:IAcciones_PausarServicio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAcciones/PausarServicioResponse" message="tns:IAcciones_PausarServicio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReanudarServicio">
      <wsdl:input wsaw:Action="http://tempuri.org/IAcciones/ReanudarServicio" message="tns:IAcciones_ReanudarServicio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAcciones/ReanudarServicioResponse" message="tns:IAcciones_ReanudarServicio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReiniciarServicio">
      <wsdl:input wsaw:Action="http://tempuri.org/IAcciones/ReiniciarServicio" message="tns:IAcciones_ReiniciarServicio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAcciones/ReiniciarServicioResponse" message="tns:IAcciones_ReiniciarServicio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="killService">
      <wsdl:input wsaw:Action="http://tempuri.org/IAcciones/killService" message="tns:IAcciones_killService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAcciones/killServiceResponse" message="tns:IAcciones_killService_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSDualHttpBinding_IService1" type="tns:IService1">
    <wsp:PolicyReference URI="#WSDualHttpBinding_IService1_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Conectar">
      <soap12:operation soapAction="http://tempuri.org/IService1/Conectar" style="document" />
      <wsdl:input>
        <wsp:PolicyReference URI="#WSDualHttpBinding_IService1_Conectar_Input_policy" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsp:PolicyReference URI="#WSDualHttpBinding_IService1_Conectar_output_policy" />
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CallbackMostrarEstados">
      <soap12:operation soapAction="http://tempuri.org/IService1/CallbackMostrarEstados" style="document" />
      <wsdl:output>
        <wsp:PolicyReference URI="#WSDualHttpBinding_IService1_CallbackMostrarEstados_output_policy" />
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IAcciones" type="tns:IAcciones">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IniciarServicio">
      <soap:operation soapAction="http://tempuri.org/IAcciones/IniciarServicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DetenerServicio">
      <soap:operation soapAction="http://tempuri.org/IAcciones/DetenerServicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PausarServicio">
      <soap:operation soapAction="http://tempuri.org/IAcciones/PausarServicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReanudarServicio">
      <soap:operation soapAction="http://tempuri.org/IAcciones/ReanudarServicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReiniciarServicio">
      <soap:operation soapAction="http://tempuri.org/IAcciones/ReiniciarServicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="killService">
      <soap:operation soapAction="http://tempuri.org/IAcciones/killService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="WSDualHttpBinding_IService1" binding="tns:WSDualHttpBinding_IService1">
      <soap12:address location="http://localhost:59007/Service1.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:59007/Service1.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-6J7EHQD\NeXuZZ</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IAcciones" binding="tns:BasicHttpBinding_IAcciones">
      <soap:address location="http://localhost:59007/Service1.svc/Acciones" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>